html {
  height:100%
}

body {
  height:100%;
}

.intro {
  height:100%;
}

.left {
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;
}
.right {
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 300px) {
  .left{
    width:100%
  }
  .right{
    width:100%
  }
}

.centered {
  text-align: center;
}

.vertically {
  left: 50%;
}

.horizontally {
  top: 50%;
}

.badge {
  margin: 5px
}

.tiny {
  width: 110px;
  height: 110px;
  margin: 1px
}

.stretch {
  width: stretch;
  height: stretch;
}

img {
  border:1px solid black;
}
